<div class="Container xyz">
    <div class="row">
        <div class="col-sm-6 well">
            <div class="card text-center">
                <div class="card-block">
                    <h3 class="card-title">Total Number of Tasks</h3>
                    <p class="card-text">{{stats.statsData.all}}</p>
                    <a href="" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
        <div class="col-sm-6 well">
            <div class="card text-center">
                <div class="card-block">
                    <h3 class="card-title">Pending Tasks</h3>
                    <p class="card-text">{{stats.statsData.pend}}</p>
                    <a href="" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
        <div class="col-sm-6 well">
            <div class="card text-center">
                <div class="card-block">
                    <h3 class="card-title">Ongoing Tasks</h3>
                    <p class="card-text">{{stats.statsData.work}}</p>
                    <a href="" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
        <div class="col-sm-6 well">
            <div class="card text-center">
                <div class="card-block">
                    <h3 class="card-title">Completed Tasks</h3>
                    <p class="card-text">{{stats.statsData.comp}}</p>
                    <a href="" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
    </div>
</div>