<div class=Container>
    <div class="row">
        <div class="col-md-12">
            <div class="Box1">
                <div>
                    <div>
                    </div>
                </div>
            </div>
            <div class="Box2">
                <div class="row">
                    <div class="col-md-12">
                        <div class="tab-content">
                            <div class="tab-pane active" id="task">
                                <div class="col-md-12">
                                    <div class="col-md-offset-5">
                                        <h1 class="content-title" style="color:black"><strong><kbd>Tasks</kbd></strong></h1>
                                    </div>
                                    <form class="form-inline well well-sm">
                                        <span class=""></span >
                                    <div class="form-group" >
				                        <input type="search"
							            
							            id="name"
							            ng-model="search"
							            placeholder="Search"
									    />
                                    </div >
                                    <button class="btn btn-primary pull-right"
						             ng-click="showCreateModal()" >Create
						</button >
                            </form >
                        <div class="row" >
		                    <div class="col-md-12" >
                                <table class="table table-bordered table-hover" >
                                <tr >
					            <th >S.No.</th >
					            <th >Subject
                                    <span ng-click="order = 'subject'"
								      class="glyphicon glyphicon-menu-up" ></span >
								    <span ng-click="order = '-subject'"
								      class="glyphicon glyphicon-menu-down" ></span >
                                </th >
					            <th >Deadline
                                    <span ng-click="order = 'deadline'"
								      class="glyphicon glyphicon-menu-up" ></span >
								    <span ng-click="order = '-deadline'"
								      class="glyphicon glyphicon-menu-down" ></span >
                                </th >
                                <th >Status
                                    <span ng-click="order = 'status'"
								      class="glyphicon glyphicon-menu-up" ></span >
								<span ng-click="order = '-status'"
								      class="glyphicon glyphicon-menu-down" ></span >
                                </th >
                                <th> Update </th>              
				                </tr >

				<tr ng-repeat="tas in filteredTask=(task.taskData | filter:sensitiveSearch | orderBy:order)"
				    ng-style="{
							 'background-color': tas.subject == task.selectedTask.subject ? 'white' : ''
						}"
				    ng-click="task.selectedTask = tas" templateUrl="/task/update" >
					<td >{{ $index+1 }}</td >
					<td >{{ tas.subject }}</td >
					<td >{{ tas.deadlineDate | date : 'mediumDate'}}</td >
                    <td >{{ tas.status }}</td >
                    <td ><button class="btn btn-md-2 btn-warning"  ng-click="showUpdateModal()" >Update</button></a></td >
                        
				</tr >
				 <tr ng-show="filteredTask.length == 0">
					<td colspan="4">
						<div class="alert alert-info">
							<p class="text-center">No results found for search term '{{ search }}'</p>
						</div>
					</td>
				</tr> 


			</table >

		</div >
                      
                     
                            
                     
                 </div>
             </div>
         </div>
           </div>
           
       </div>
    </div>
            </div></div>